@media (min-width: 1024px) {
    .header__container {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }

    .header__background {
        height: 1300px;
    }

    .header__nav__container {
        margin-right: 130px;
    }

    .header__logo__container {
        margin-left: 130px;
    }

    .banner__container {
        display: grid;
        grid-template-areas:
        "banner-text banner-background"
        "banner-button banner-background"
        "banner-logo banner-background";
        column-gap: 105px;
        grid-template-rows: 1fr 241px 164px;
        padding-left: 133px;
        padding-right: 87px;
        margin-top: 67px;
    }

    .banner__heading {
        font-size: 75px;
        line-height: 92px;
    }

    .banner__paragraph {
        font-size: 16px;
    }

    .banner__rating__container {
        grid-area: banner-background;
        min-width: 500px;
        width: 100%;
        align-self: start;
    }

    .banner__text__container {
        grid-area: banner-text;
        text-align: start;
    }

    .banner__button {
        margin-top: 30px;
        width: 200px;
        grid-area: banner-button;
        justify-self: start;
        align-self: start;
    }

    .banner__rating__container {
        margin-top: 0;
    }

    .banner__logo__container {
        grid-area: banner-logo;
        margin-top: 0;
        justify-content: space-between;
    }
}