@media (min-width: 1024px) {
    .header__container {
        justify-content: space-between;
    }

    .header__background {
        height: 1300px;
    }

    .header__nav__container {
        margin-right: 130px;
    }

    .header__logo__container {
        margin-left: 135px;
    }

    .banner__container {
        display: grid;
        grid-template-areas:
        "banner-text banner-background"
        "banner-button banner-background"
        "banner-logo banner-background";
        column-gap: 80px;
        grid-template-rows: 1fr 241px 164px;
        padding-left: 133px;
        padding-right: 144px;
        margin-top: 55px;
    }

    .banner__heading {
        font-size: 75px;
        line-height: 92px;
    }

    .banner__paragraph {
        font-size: 16px;
    }

    .banner__rating__container {
        grid-area: banner-background;
        min-width: 500px;
        width: 100%;
        align-self: start;
    }

    .banner__text__container {
        grid-area: banner-text;
        text-align: start;
    }

    .banner__button {
        margin-top: 30px;
        width: 200px;
        grid-area: banner-button;
        justify-self: start;
        align-self: start;
    }

    .banner__rating__container {
        margin-top: 0;
    }

    .banner__logo__container {
        grid-area: banner-logo;
        margin-top: 0;
        justify-content: space-between;
    }

    .service__container {
        margin: 100px 130px 0;
        justify-content: space-between;
    }

    .profit__img__container {
        grid-template-rows: 0;
        padding: 0;
        justify-items: center;
    }

    .profit__img {
        height: 543px;
        width: 445px;
    }

    .profit__img__background {
        width: 541px;
        height: 608px;
    }

    .profit__list__container {
        align-self: start;
        grid-template-rows: 107px minmax(min-content, 186px) minmax(min-content, 227px);
    }

    .profit__subheading {
        align-self: end;
    }
    
    .profit__heading {
        align-self: center;
    }

    .achivement__container {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 170px;
    }

    .achivement__media__container {
        padding-left: 0;
        padding-right: 0;
        grid-template-rows: 0;
        justify-items: end;
    }

    .achivement__img__container {
        justify-content: end;
    }

    .achivement__img {
        max-width: 445px;
        height: 513px;
    }

    .achivement__img__background {
        max-width: 541px;
        height: 608px;
    }

    .achivement__text__container {
        margin-top: 0;
        grid-template-rows: 40px max-content;
        grid-template-columns: 55px;
    }

    .achivement__statistic__container {
        margin-top: 25px; 
    }

    .achivement__button__container {
        padding-right: 0;
        padding-left: 56px;
    }

    .achivement__dots {
        grid-row: 2;
    }

    .achivement__button {
        max-width: 233px;
    }

    .variety__feature:nth-child(2) {
        flex-direction: unset;
    }

    .variety__feature:nth-child(3) {
        flex-direction: row-reverse;
    }

    .trends__heading {
        margin-top: 22px;
    }

    .trends__product__container {
        margin-top: 65px;
        gap: 30px;
    }

    .trends__product {
        width: 266px;
    }

    .ingredients__heading {
        font-size: 60px;
        line-height: 72px;
    }

    .ingredients__button__container {
        max-width: 210px;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 88px;
        margin-bottom: 90px;
    }

    .footer__logo__container {
        text-align: start;
        justify-items: start;
    }

    .footer__logo__text {
        max-width: 280px;
    }

    .footer__nav__container {
        grid-template-columns: repeat(auto-fit, 150px);
        justify-content: space-evenly;
    }

    .footer__menu {
        align-items: start;
    }

    .footer__form__container {
        text-align: start;
    }

    .form__paragraph {
        max-width: 340px;
    }

    .form__input__container {
        flex-direction: row;
        width: 340px;
        justify-content: space-between;
    }

    .form__input {
        width: 180px;
        text-align: start;
    }

    .form__input[placeholder] {
        padding-left: 25px;
    }

    .form__button {
        width: 118px;
        margin-top: 0;
    }
}