@media (min-width: 1440px) {

    .header__logo__container {
        justify-self: start;
    }

    .header__nav__container {
        justify-self: end;
    }

    .profit__container {
        column-gap: 0;
    }

    .achivement__container {
        margin-top: 208px;
        padding-right: 135px;
        padding-left: 80px;
        grid-template-rows: 295px 156px;
    }

    .achivement__text__container {
        align-self: flex-end;
    }

    .achivement__button__container {
        margin-top: 0;
    }

    .variety__container {
        margin-top: 198px;
    }

    .variety__feature__container {
        margin-top: 80px;
    }
}