@media (min-width: 1440px) {

    .header__logo__container {
        justify-self: start;
    }

    .header__nav__container {
        justify-self: end;
    }

    .profit__container {
        column-gap: 0;
    }

    .achivement__container {
        margin-top: 208px;
        padding-right: 135px;
        padding-left: 80px;
    }
}