body {
    font-family: 'Inter';
}

.header__container {
    display: grid;
    grid-template-areas: "header-logo . header-button" ". header-nav .";
    grid-template-rows: 88px;
    align-items: center;
}

.header__background {
    width: 100%;
    height: 945px;
    background-color: #F3FCF7;
    position: absolute;
    z-index: -50;
}

.header__logo__container {
    text-decoration: none;
    color: #06C167;
    font-size: 32px;
    font-weight: 500;
    grid-area: header-logo;
    justify-self: center;
}

.header__nav__container {
    position: relative;
    top: -250px;
    align-items: center;
    grid-area: header-nav;
    display: flex;
    flex-direction: column;
    transform: translateY(-250px);
    transition: transform ease-in-out 0.5s;
}

.header__link {
    width: fit-content;
    text-decoration: none;
    color: #1D1D1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color ease-in-out 0.5s;
}

.link__dot {
    transition: opacity ease-in-out 0.5s;
    background: #06C167;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: 6px;
    opacity: 0
}

.header__link:hover {
    color:#06C167;
    transition: color ease-in-out 0.5s;
}

.header__link:hover .link__dot {
    opacity: 1;
    transition: opacity ease-in-out 0.5s;
}

.header__button {
    margin-right: 29px;
    width: 42px;
    height: 34px;
    border: solid 3px #06C167;
    grid-area: header-button;
    justify-self: end;
    cursor: pointer;
    
}

.button__line {
    width: 22px;
    height: 2.2px;
    background: #06C167;
    position: absolute;
    top: 43px;
    right: 41px;
}

.header__button::before {
    content: "";
    position: absolute;
    background: #06C167;
    width: 22px;
    right: 41px;
    height: 2px;
    top: 36px;
    transition: transform ease-in-out 0.4s;
}

.header__button::after {
    content: "";
    position: absolute;
    background: #06C167;
    width: 22px;
    right: 41px;
    height: 3px;
    top: 50px;
    transition: transform ease-in-out 0.4s;
}

.header__button.active .button__line {
    opacity: 0;
}

.header__button.active::before {
    content: "";
    position: absolute;
    background: #06C167;
    width: 22px;
    right: 41px;
    height: 2px;
    top: 43px;
    transform: rotate(40deg);
    transition: transform ease-in-out 0.4s;
}

.header__button.active::after {
    content: "";
    position: absolute;
    background: #06C167;
    width: 22px;
    right: 41px;
    height: 2px;
    top: 43px;
    transform: rotate(-40deg);
    transition: r ease-in-out 0.4s;
}

.header__nav__container.active {
    transform: translateY(250px);
    transition: transform ease-in-out 0.5s;
    grid-area: header-nav;
}

.banner__container {
    display: grid;
}

.banner__text__container {
    text-align: center;
}

.banner__heading {
    font-size: 51px;
    font-weight: 600;
}

.banner__paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.banner__button {
    background-color: #06C167;
    color: #ffffff;
    width: 320px;
    height: 68px;
    border-style: none;
}

.banner__rating {
    width: 220px;
    height: 53px;
    background: #ffffff;
    border-radius: 26px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner__rating__text {
    font-size: 15px;
}

.rating__icon__container {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.rating__icon {
    width: 15.23px;
    height :14.58px;
}

.banner__response {
    grid-area: banner-response;
    display: flex;
    width: 220px;
    height: 53px;
    background: #ffffff;
    border-radius: 26px;
    align-items: center;
    justify-content: space-around;
}

.response__text {
    font-size: 15px;
}