body {
    font-family: 'Inter';
}

.header__container {
    display: grid;
    grid-template-areas: "header-logo . header-button" ". header-nav .";
    grid-template-rows: 88px;
    align-items: center;
}

.header__background {
    width: 100%;
    height: 1600px;
    background-color: #F3FCF7;
    position: absolute;
    z-index: -50;
}

.header__logo__container {
    text-decoration: none;
    color: #06C167;
    font-size: 32px;
    font-weight: 500;
    grid-area: header-logo;
    justify-self: center;
}

.header__nav__container {
    justify-self: start;
    position: relative;
    top: -250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    transform: translateY(-250px);
    transition: transform ease-in-out 0.5s;
}

.header__link {
    width: fit-content;
    text-decoration: none;
    color: #1D1D1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color ease-in-out 0.5s;
}

.link__dot {
    transition: opacity ease-in-out 0.5s;
    background: #06C167;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: 6px;
    opacity: 0
}

.header__link:hover {
    color:#06C167;
    transition: color ease-in-out 0.5s;
}

.header__link:hover .link__dot {
    opacity: 1;
    transition: opacity ease-in-out 0.5s;
}

.header__button {
    margin-right: 29px;
    width: 42px;
    height: 34px;
    border: solid 3px #06C167;
    grid-area: header-button;
    justify-self: end;
    cursor: pointer;
    
}

.button__line {
    width: 22px;
    height: 2.2px;
    background: #06C167;
    position: absolute;
    top: 43px;
    right: 41px;
}

.header__button::before {
    content: "";
    position: absolute;
    background: #06C167;
    width: 22px;
    right: 41px;
    height: 2px;
    top: 36px;
    transition: transform ease-in-out 0.4s;
}

.header__button::after {
    content: "";
    position: absolute;
    background: #06C167;
    width: 22px;
    right: 41px;
    height: 3px;
    top: 50px;
    transition: transform ease-in-out 0.4s;
}

.header__button.active .button__line {
    opacity: 0;
}

.header__button.active::before {
    content: "";
    position: absolute;
    background: #06C167;
    width: 22px;
    right: 41px;
    height: 2px;
    top: 43px;
    transform: rotate(40deg);
    transition: transform ease-in-out 0.4s;
}

.header__button.active::after {
    content: "";
    position: absolute;
    background: #06C167;
    width: 22px;
    right: 41px;
    height: 2px;
    top: 43px;
    transform: rotate(-40deg);
    transition: r ease-in-out 0.4s;
}

.header__nav__container.active {
    justify-self: start;
    transform: translateY(250px);
    transition: transform ease-in-out 0.5s;
    grid-area: header-nav;
}

.banner__container {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 28px;
}

.banner__text__container {
    text-align: center;
}

.banner__heading {
    margin: 0;
    font-size: 51px;
    font-weight: 600;
    line-height: 61px;
}

.banner__paragraph {
    margin-bottom: 0;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.banner__button {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06C167;
    color: #ffffff;
    width: 100%;
    height: 68px;
    border-style: none;
    justify-self: center;
    cursor: pointer;
}

.button__arrow {
    margin-left: 28px;
}

.banner__rating__container {
    display: grid;
    grid-template-areas:
        " . . ."
        " . rating ."
        " . response .";
    grid-template-rows: 350px, repeat(2, 70px);
    grid-template-columns: 1fr 3fr 50px;
    margin-top: 47px;
    background-image: url(../static/womanHandlingCabage.png);
    height: 470px;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
    align-self: start;
}

.banner__dots {
    justify-self: end;
    align-self: end;
    grid-row: 1 / 4;
    grid-column: 3 / 3;
}

.banner__rating {
    justify-self: start;
    width: 220px;
    height: 53px;
    background: #ffffff;
    border-radius: 26px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: rating;
}

.banner__rating__text {
    font-size: 15px;
}

.rating__icon__container {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.rating__icon {
    width: 15px;
    height: 15px;
}

.banner__response {
    justify-self: start;
    grid-area: response;
    display: flex;
    width: 220px;
    height: 53px;
    background: #ffffff;
    border-radius: 26px;
    align-items: center;
    justify-content: space-around;
}

.response__text {
    font-size: 15px;
}

.banner__logo__container {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 130px;
    width: 100%;
}

.service__container {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: 60px 30px 0;
    justify-content: center;
    border-top: 1.5px solid rgba(158, 148, 148, 0.522);
    border-bottom: 1.5px solid rgba(158, 148, 148, 0.522);
    justify-content: space-around;
}

.service__offer {
    width: 245px;
    height: 70px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.offer__img {
    margin-right: 25px;
}

.offer__text__container {
    display: flex;
    flex-direction: column;
}

.offer__name__text {
    color:#1D1D1F;
    font-size: 18px;
}

.offer__advantage__text {
    margin-top: 10px;
    color:#1D1D1F;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.75;
}