@media (min-width: 740px) {
    .header__container {
        display: grid;
        grid-template-areas: "header-logo header-nav";
        grid-template-rows: 124px;
    }

    .header__logo__container {
        margin-left: 0;
        justify-self: center;
    }

    .header__nav__container {
        flex-direction: row;
        transform: translateY(0);
        opacity: 1;
        justify-self: center;
        position: static;
        top: 0;
    }

    .header__link {
        padding-top: 12px;
        margin-right: 39px;
    }

    .header__link:nth-child(5) {
        margin-right: 0;
    }

    .header__button {
        display: none;
    }

    .banner__rating__container {
        grid-template-rows: 295px 116px 300px;
        grid-template-columns: 144px 1fr 138px;
        height: 690px;
        width: 520px;
        align-self: center;
    }

    .banner__rating {
        grid-column: 1;
        grid-row: 2;
        align-self: end;
        justify-self: end;
    }

    .banner__response {
        grid-column: 3;
        grid-row: 1;
        align-self: end;
        justify-self: center;
    }

    .profit__container {
        grid-template-areas: "profit-img-container profit-list-container";
        grid-template-columns: repeat(2, minmax(min-content, 1fr));
        column-gap: 30px;
        margin: 130px 30px 0;
    }

    .profit__img__container {
        grid-area: profit-img-container;
        padding: 0;
    }

    .profit__list__container {
        grid-template-areas: ". profit-subheading"
        "profit-dots profit-heading"
        ". profit-list";;
        grid-area: profit-list-container;
        justify-items: start;
    }

    .heading {
        text-align: start;
        align-self: start;
        font-size: 60px;
    }

    .subheading {
        text-align: start;
    }

    .achivement__container {
        grid-template-areas: "achivement-text achivement-img" "achivement-statistic achivement-img" "achivement-button achivement-img";
        grid-template-columns: 1fr 1fr;
    }

    .achivement__img__container {
        grid-area: achivement-img;
    }

    .achivement__text__container {
        grid-template-rows: auto;
        grid-area: achivement-text;
    }

    .achivement__statistic__container {
        grid-area: achivement-statistic;
    }

    .achivement__button__container {
        grid-area: achivement-button;
        margin-top: 54px;   
    }

    .variety__feature__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .variety__feature {
        width: 585px;
        flex-direction: row;
    }

    .feature__text__container {
        background-color: #F3FCF7;
    }

    .variety__feature:nth-child(even) {
        flex-direction: row-reverse;
    }

    .variety__heading {
        text-align: center;
    }

    .feature__button {
        background-color: #E6F9F0;
    }
}