@media (min-width: 740px) {
    .header__container {
        display: grid;
        grid-template-areas: "header-logo header-nav";
        grid-template-rows: 124px;
    }

    .header__logo__container {
        margin-left: 0;
        justify-self: center;
    }

    .header__nav__container {
        flex-direction: row;
        transform: translateY(0);
        opacity: 1;
        justify-self: center;
        position: static;
        top: 0;
    }

    .header__link {
        padding-top: 12px;
        margin-right: 39px;
    }

    .header__link:nth-child(5) {
        margin-right: 0;
    }

    .header__button {
        display: none;
    }

    .banner__rating__container {
        grid-template-rows: 295px 116px;
        height: 690px;
        width: 520px;
        align-self: center;
    }
}